[Unit]
Description=Gunicorn for shop.py-sites.com
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/$(whoami)/htdocs/py-sites/apps/shop
Environment="PATH=/home/$(whoami)/htdocs/py-sites/envs/py-sites-venv/bin"
ExecStart=/home/$(whoami)/htdocs/py-sites/envs/py-sites-venv/bin/gunicorn \
  --workers 2 --bind unix:/run/gunicorn-shop.sock --access-logfile - --error-logfile - wsgi:app
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0755
Restart=always

[Install]
WantedBy=multi-user.target
